.page__container {
	max-width: calc(100% - 96px);
	margin: 0 auto;
}
@media screen and (max-width: 768px) {
	.page__container {
		max-width: calc(100% - 48px);
	}
}
@media screen and (max-width: 425px) {
	.page__container {
		max-width: calc(100% - 32px);
	}
}
